.imageBackground {
    display: flex;
    justify-content: center; 
    padding-top: 10rem; 
    padding-bottom: 10rem;  
}

.imageBackground img {
    box-shadow: 0 6px 15px rgb(143, 140, 140);
    width: 70%;
    height: 50%;
}
